<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
<!--# COMPONENT SCAN #-->
	<context:component-scan base-package="br.com.jlex.bot.services" />
<!-- 	<context:component-scan base-package="com.company.scheduling"/> Quartz via anotaç~´ao-->
	
<!--# ANNOTATION #-->
	<context:annotation-config/>
	<mvc:annotation-driven />
	<tx:annotation-driven transaction-manager="transactionManager" />
	
<!--# BEANS #-->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" /> <!-- /WEB-INF/views/ -->
		<property name="suffix" value=".jsp" />
	</bean>
	<bean id="multipartResolver"
  		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="maxUploadSize" value="250000"/>
	</bean>
	<mvc:view-controller path="/" view-name="index"/>
	
	 <!--# QUARTZ SCHEDULER #
    <bean id="jlexJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" 	ref="${job.class}" />
        <property name="targetMethod" 	value="initGetMessagesSenders" />
        <property name="concurrent" 	value="false" />
	</bean>
	<bean id="jlexTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" 			ref="jlexJob" />
        <property name="startDelay" 		value="${tgg.daley}" />
        <property name="repeatInterval" 	value="${tgg.repeat}" />
	</bean>
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">    
        <property name="configLocation" value="classpath:quartz.properties" />
        <property name="triggers">
            <list>
                <ref bean="jlexTrigger"/> 
            </list>
        </property>
        <property name="quartzProperties">
        	<props>
        		<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
	        	<prop key="org.quartz.threadPool.threadCount">1</prop>
	        </props>
        </property>
        <property name="waitForJobsToCompleteOnShutdown" value="true" />
    </bean> -->
	
</beans>